Repository RedHatInsights/advisor-backend, pull requests merged in 2025-09, with the labels that each got.

#39 Updating Python packages to 2025-09-16
  Pipfile.lock
Labels: Advisor, Tasks, API, Service

#38 Import Advisor content from remote URL path
  api/advisor/api/management/commands/import_content.py
  api/advisor/api/tests/test_import_content_command.py
  api/test_content/content/fixture_data/test/Second_rule/metadata.yaml
  api/test_content/content/fixture_data/test/summary.md
Labels: enhancement, Advisor

#40 Add environment variables for database sslmode and ssl ca
  api/advisor/project_settings/settings.py
  service/settings.py
Labels: Advisor, Service
